{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "semi": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "proseWrap": "never",
  "quoteProps": "preserve"
}
