#root {
  width: 100%;
}

body.sticky-scroll #root {
  width: fit-content;
}

.root-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.controls-container {
  width: 100%;

  position: sticky;
  display: flex;
  justify-content: center;

  left: 0;
}

body.sticky-scroll .controls-container {
  width: 100vw;
}

.controls-content {
  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: 2150px;
}
