#root {
  width: 100%;
}

.root-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.primary-controls {
  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: 2150px;
}
